.banner {
  width: 100%;
}
.fsh1 {
  /*font-size: 350%;*/
  font-size: 400%; /*550*/
}
.fsh2 {
  /*font-size: 220%;*/
  font-size: 220%;
}
.fsp {
  font-size: 222%; /*150*/
}
.padbot {
  padding-bottom: 15%;
}
.marginTop {
  margin-top: 10%;
}
.centered {
  text-align: center;
}
